@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
:root {
  --bgColor: #bdb799 ;
  --tealColor: #EA4C4C;
  --textwhite:#EA4C4C;

}

* {
  font-family: "Roboto", sans-serif;
}

html body {
  background-color: var(--bgColor);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
header {
  display: flex;
  align-items: baseline;
  justify-content: center;
  text-align: center;
  color: #fffae2;
  font-weight: 500;
}
header h2 {
  font-size: 5rem;
}
header p {
  font-size: 2rem;
  color: var(--tealColor);
}
label {
  color: #fff;
  font-size: 1.2rem;
}
.joyride {
  height: auto;
  width: 200px;
  position: relative;
  top: 50px;
  margin-bottom: 4rem;
}
.controls {
  text-align: center;
}
.controls h4 {
  color: var(--tealColor);
}
select {
  outline: none;
  padding: 0.8rem 1.5rem;
  border: 0.5px solid var(--textwhite);
  width: 10rem;
  background-color: var(--tealColor);
  color: #fff;
}
option {
  color: #fff;
}
#personalActivity, #groupActivity{
    border:1px solid var(--tealColor);
    background-color: var(--bgColor)
}
